# GLOBAL SETUP
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin


# Alchemist
0 */4 * * * alchemist --update > /dev/null 2>&1
15 */4 * * * alchemist --backup > /dev/null 2>&1
# 20 */4 * * * cp "$HOME/alchemist/backup/Brewfile" "$HOME/.dotfiles/src/Brewfile" 2>&1
