asyncio
beautifulsoup4
boto3
colorama
cryptography
datamodel-code-generator
discord
docutils
dropbox
future
geopy
GitPython
gpg
important
lxml
nltk
notifiers
numpy
objectrest
opencv-python
pandas
Pillow
plexapi
praw
prawcore
progress
pycrypto
pyperclip
pysqlcipher3
python-dateutil
python-dotenv
requests
scipy
sphinx
sphinx-jsonschema
sphinx_autodoc_typehints
sphinx-rtd-theme
sphinx-pydantic
segno
setuptools
six
textblob
tweepy
twine
yt-dlp
zxcvbn
