[user]
	name = Nate Harris
	email = nwithan8@users.noreply.github.com

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[submodule]
	recurse = true

[init]
	defaultBranch = master

[credential "http://buysafe10"]
	provider = generic

[core]
	autocrlf = input

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
	credentialStore = gpg

[credential "https://dev.azure.com"]
	useHttpPath = true
